# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Arquivos sensíveis
.env
*.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Database
*.db
*.sqlite

# Docker
postgres_data/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Arquivos de teste
test_*.py
*_test.py